{% extends 'base.html' %}
{% load mathfilters %}
{% block title %} Buy {{ item.name }} {% endblock title %}
{% block content %}
    <div class="card">
      <h1 class="card-header">Купить товар</h1>
      <div class="card-body">
        <h2>{{ item.name }}</h2>
        <p>{{ item.description }}</p>
        <p>Цена: {{ item.price |div:100  }} Р</p>
      </div>
    </div>
      <button id="buy-button" class="btn btn-primary">Buy</button>
    <script type="text/javascript">
      var stripe = Stripe("{{ stripe_key }}");
      var buyButton = document.getElementById('buy-button');
      buyButton.addEventListener('click', function() {
        fetch('/api/v1/buy/{{item.id}}/', {method: 'GET'})
        .then(function(response) {
            return response.json();
          })
          .then(function(session) {
            session_id = session.session_id
            return stripe.redirectToCheckout({ sessionId: session_id });
          })
      });
    </script>
{% endblock content %} 
